# Virtual envs & PyInstaller artifacts
.venv/
myenv/
installer/
build11/
dist11/
bootstrap_env11.spec
build13/
dist13/
bootstrap_env13.spec
rafm_*.pkl
uvsg_*.pkl
dv_*.pkl
# python_embedded/

# Python cache
__pycache__/
*.py[cod]
